/**
  *	@name Dark+
  *	@author DevEvil#8745
  *	@version Dark+1
  *	@description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.xyz
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-border1: 10px;
  --darkplus-version: "𝗗𝗮𝗿𝗸+ 𝗕𝘆 𝗗𝗲𝘃𝗘𝘃𝗶𝗹#𝟴𝟳𝟰𝟱";
}

