/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+4
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');
@import url(https://objectiveslayer.github.io/ComfyGray/addons/icon-replace.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
  --darkplus-app-bg: #bb86fc;
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-main: #bb86fc;
  --darkplus-main2: #cdaef3;
  --darkplus-message-color: #cdaef3;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 30%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}
